*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

header{
background-image: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0,.5)), url("../img/back.png");
height: 38em;
}
.topo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px;
}
.botoes{
display: flex;
align-items: center;
}
.language{
	margin-right: 20px;
}
input.select-dropdown.dropdown-trigger{
	color: white;
}
.centro{
	margin: 100px 0px;
}
.centro h3{
	font-weight: bold;
}
.centro p{
	font-size: 1.9em;
}
.centro p span{
	font-size: .8em;
}
.centro .busca {
	display: flex;
	align-items: center;
	justify-content: center;
}
.busca button {
	margin-bottom: 7px;
	height: 46px;
}
.busca .input-field {
	width: 400px;
}
main{
	margin-top: 10px;
}
main .caroussel {
	overflow: hidden;
}
main .content {
	margin: 10px;
	width: 140%;
}

main .caroussel img {
 width: 100%;
 height: 100%;
}

main .devices {
	height: 60vh;
	display: flex;
	align-items: center;
}
.devices p.title {
	font-size: 3em;
}
.devices p{
	font-size: 2em;
	text-align: left;
	margin-left: 60px;
}
.devices img{
	width: 100%;
}
footer .content{
	margin: 0px;

}
footer .content div {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
}
footer .content div p.title{
	flex-basis: 100vw;
	font-size: 1.4em;
	text-align: center;
	margin-bottom: 25px;
}
footer .content div p{
	flex-basis: 15vw;
}
.rmv-margin{
margin: 0px;
}